# Data Loading, Storage, and File Formats

In [1]:
import pandas as pd

In [ ]:
pd.read_csv("C:/Users/jamali's/Desktop/Book1.csv" , header = None)

In [ ]:
pd.read_csv("C:/Users/jamali's/Desktop/Book1.csv" , names = ['a' , 'b' , 'Messages'])

In [ ]:
pd.read_csv("C:/Users/jamali's/Desktop/Book1.csv" , names = ['a' , 'b' , 'Messages'], index_col='Messages')

In [ ]:
pd.read_csv("C:/Users/jamali's/Desktop/hello.csv")

In [ ]:
pd.read_csv("C:/Users/jamali's/Desktop/hello.csv" , index_col = ['key1' , 'key2'])

In [ ]:
list(open("C:/Users/jamali's/Desktop/ex3.txt" ))

In [ ]:
result =  pd.read_table("C:/Users/jamali's/Desktop/ex3.txt" , sep='\s+')
result

In [ ]:
pd.read_csv("C:/Users/jamali's/Desktop/ex4.csv" , skiprows = [0,2,3])

In [ ]:
result = pd.read_csv("C:/Users/jamali's/Desktop/ex5.csv")
result

In [ ]:
pd.isnull(result)

In [ ]:
import pandas as pd
import numpy as np
result = pd.read_csv("C:/Users/jamali's/Desktop/ex5.csv" , na_values = ['Null'])
result

In [ ]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}
result = pd.read_csv("C:/Users/jamali's/Desktop/ex5.csv" , na_values = sentinels)
result

In [ ]:
pd.options.display.max_rows = 10

In [ ]:
result = pd.read_csv("C:/Users/jamali's/Desktop/Source/Calculated-Columns-Revenue.csv")
result

In [ ]:
pd.read_csv("C:/Users/jamali's/Desktop/Source/Calculated-Columns-Revenue.csv" , nrows=5)

In [ ]:
chunker = pd.read_csv("C:/Users/jamali's/Desktop/Source/Calculated-Columns-Revenue.csv" , chunksize = 20)
chunker

In [ ]:
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['Total Cost'].value_counts(),fill_value=0)
tot = tot.sort_values(ascending=False)
tot

In [ ]:
data = pd.read_csv("C:/Users/jamali's/Desktop/ex5.csv")
data

In [ ]:
data.to_csv("C:/Users/jamali's/Desktop/out.csv")

In [ ]:
pd.read_csv("C:/Users/jamali's/Desktop/out.csv")

In [ ]:
import sys
data.to_csv(sys.stdout,sep='|')

In [ ]:
data.to_csv(sys.stdout,na_rep='Null')

In [ ]:
data.to_csv(sys.stdout,index=False,header=False)

In [ ]:
dates = pd.date_range('1/1/2000',periods=7)
print(dates)
ts = pd.Series(np.arange(7),index=dates)
ts.to_csv("C:/Users/jamali's/Desktop/tseries.csv")
pd.read_csv("C:/Users/jamali's/Desktop/tseries.csv")

In [ ]:
import csv

In [ ]:
with open("file.csv","w",newline="") as f:
    handler = csv.writer(f,delimiter=',')
    handler.writerow(["Sports","World_cup_year","Winner"])
    handler.writerow(["Cricket","1992","Pakistan"])
    handler.writerow(["Soccer","1995","Brazil"])

In [ ]:
pwd

In [ ]:
with open("file.csv","r") as t:
    contents = csv.reader(t)
    content = []
    for i in contents:
        content+=i

In [ ]:
print(content)

In [ ]:
user = input("please enter sport to see the winner ")
ind_of_sp = content.index(user)
ind_of_win = ind_of_sp+2
content[ind_of_win]

In [ ]:
import json
j_lst = {"A":["a","b","c","d"],"B":["e","f","g","h"],"C":["i","j","k","l"]}

In [ ]:
with open("file.json","w") as y:
    json.dump(j_lst,y)

In [ ]:
with open("file.json","r") as y:
    l = json.load(y)
print(l)

In [ ]:
import csv

In [ ]:
f = open("C:/Users/jamali's/Desktop/ex7.csv")
reader = csv.reader(f)

In [ ]:
for line in reader:
    print(line)

In [ ]:
with open("C:/Users/jamali's/Desktop/ex7.csv") as f:
    lines = list(csv.reader(f))

In [ ]:
header,values = lines[0],lines[1:]

In [ ]:
header

In [ ]:
values

In [ ]:
data_Dict = {h:v for h,v in zip(header,zip(*values))}
data_Dict

In [ ]:
class my_dialect(csv.Dialect):
    lineTerminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
# reader = csv.reader(f,dialect = my_dialect) 
# OR
# reader = csv.reader(f,delimiter = '|')

In [ ]:
with open("my_data.csv","w") as f:
    writer = csv.writer(f,dialect = my_dialect)
    writer.writerow(("one","two","three"))
    writer.writerow(("1","2","3"))
    writer.writerow(("4","5","6"))
    writer.writerow(("7","8","9"))

In [ ]:
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 30, "pets": ["Zeus", "Zuko"]},
{"name": "Katie", "age": 38,
"pets": ["Sixes", "Stache", "Cisco"]}]
}
"""

In [ ]:
import json
result = json.loads(obj)
result

In [ ]:
asjson = json.dumps(result)

In [ ]:
asjson

In [ ]:
import pandas as pd
import numpy as np
siblings = pd.DataFrame(result['siblings'],columns = ['name','age'])
siblings

In [ ]:
data = pd.read_json("C:/Users/jamali's/Desktop/example.json")
data

In [ ]:
data.to_json()

In [ ]:
data.to_json(orient = 'records')

In [ ]:
!pip install lxml

In [ ]:
!pip install beautifulsoup4 html5lib

In [ ]:
import pandas as pd
tables = pd.read_html("https://www.fdic.gov/bank/individual/failed/banklist.html")

In [ ]:
len(tables)

In [ ]:
failures = tables[0]

In [ ]:
failures.head()

In [ ]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.head()

In [ ]:
close_timestamps.dt.year.value_counts()

In [ ]:
from lxml import objectify

In [ ]:
path = "C:/Users/jamali's/Desktop/Performance_MNR.xml"
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [ ]:
data = []
skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
'DESIRED_CHANGE', 'DECIMAL_PLACES']
for elt in root:
    elt_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        elt_data[child.tag] = child.pyval
    data.append(elt_data)

In [ ]:
data

In [ ]:
perf = pd.DataFrame(data)

In [ ]:
perf

In [ ]:
from io import StringIO

In [ ]:
tag = '<a href="http://www.google.com">Google</a>'

In [ ]:
root = objectify.parse(StringIO(tag)).getroot()

In [ ]:
root

In [ ]:
root.get('href')

In [ ]:
root.text

# Binary Data Formats

In [ ]:
frame = pd.read_csv("C:/Users/jamali's/Desktop/ex4.csv")
frame

In [ ]:
frame.to_pickle("C:/Users/jamali's/Desktop/frame_pickle")

In [ ]:
pd.read_pickle("C:/Users/jamali's/Desktop/frame_pickle")

In [ ]:
import numpy as np
frame = pd.DataFrame({'a':np.random.randn(100)})
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

In [ ]:
store['obj1']

In [ ]:
store.put('obj2',frame,format='table')
store.select('obj2',where=['index>=10 and index<=15'])

In [ ]:
store.close()

In [ ]:
frame.to_hdf('mydata.h5','obj3',format='table')

In [ ]:
pd.read_hdf('mydata.h5','obj3',where=['index<5'])

In [ ]:
import pandas as pd

In [ ]:
xlsx = pd.ExcelFile("C:/Users/jamali's/Desktop/titanic_train.xlsx")

In [ ]:
pd.read_excel(xlsx,"titanic_train").head()

In [ ]:
frame = pd.read_excel("C:/Users/jamali's/Desktop/titanic_train.xlsx", "titanic_train")
frame.head()

In [ ]:
writer  = pd.ExcelWriter("C:/Users/jamali's/Desktop/titanic_test.xlsx")

In [ ]:
frame.to_excel(writer,'titanic_train')

In [ ]:
writer.save()

In [ ]:
frame.to_excel("C:/Users/jamali's/Desktop/titanic_test.xlsx")

# Interacting with Web APIs

In [46]:
import requests

In [47]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [48]:
resp = requests.get(url)
resp

In [49]:
data = resp.json()

In [50]:
data[0]['url']

'https://api.github.com/repos/pandas-dev/pandas/issues/28231'

In [51]:
data[0]['title']

'Update documentation on pd.read_excel, to reflect the fact that support for OpenDocument files is available'

In [52]:
issues = pd.DataFrame(data,columns = ['number','title','labels','state'])

In [53]:
issues.head()

,number,title,labels,state
0,28231,"Update documentation on pd.read_excel, to refl...","[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
1,28230,Improved benchmark coverage for reading spread...,"[{'id': 732775912, 'node_id': 'MDU6TGFiZWw3MzI...",open
2,28227,PERF: trim import time ~5%,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open
3,28226,Don't fail when plotting Series/DataFrame with...,"[{'id': 2413328, 'node_id': 'MDU6TGFiZWwyNDEzM...",open
4,28225,PERF: data = np.nan to speed up empty datafram...,"[{'id': 8935311, 'node_id': 'MDU6TGFiZWw4OTM1M...",open

# Interacting with Databases

In [8]:
import sqlite3
import pandas as pd

In [9]:
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
c REAL, d INTEGER
);"""

In [7]:
con = sqlite3.connect('mydata2.sqlite')
con.execute(query)

In [10]:
data = [('Atlanta', 'Georgia', 1.25, 6),
('Tallahassee', 'Florida', 2.6, 3),
('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"
con.executemany(stmt, data)

In [11]:
con.commit()

In [12]:
cursor = con.execute('SELECT * from test')

In [13]:
rows = cursor.fetchall()

In [14]:
rows

[('Atlanta', 'Georgia', 1.25, 6),
 ('Tallahassee', 'Florida', 2.6, 3),
 ('Sacramento', 'California', 1.7, 5)]

In [15]:
des = cursor.description

In [20]:
pd.DataFrame(rows, columns=[x[0] for x in cursor.description])

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

In [21]:
import sqlalchemy as sqla

In [22]:
db = sqla.create_engine('sqlite:///mydata2.sqlite')

In [25]:
a = pd.read_sql('select * from test',db)
a

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5