# Getting Started with pandas

In [1]:
import pandas as pd

In [ ]:
obj=pd.Series([3,12,45,5])
obj

In [ ]:
obj.values

In [ ]:
obj.index

In [ ]:
obj2=pd.Series([1,23,4],index=['a','b','c'])
obj2

In [ ]:
obj2.index

In [ ]:
obj2['a']

In [ ]:
obj2['b']=9
obj2

In [ ]:
obj2[obj2>2]

In [ ]:
obj2*2

In [ ]:
import numpy as np
np.exp(obj2)

In [ ]:
'b' in obj2

In [ ]:
'e' in obj2

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3=pd.Series(sdata)
obj3

In [ ]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4=pd.Series(sdata,index=states)
obj4

In [ ]:
pd.isnull(obj4)#obj4.isnull()

In [ ]:
pd.notnull(obj4)

In [ ]:
obj3+obj4

In [ ]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

In [ ]:
obj

In [ ]:
obj.index=['bob','steve','jeff','ryan']
obj

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame=pd.DataFrame(data)
frame

In [ ]:
class hello():
    def __init__(this,hi,y):
        this.hi=hi
        this.y=y
        
he=hello("hey",2)
print(he.hi)
print(he.y)

In [ ]:
frame.head()

In [ ]:
pd.DataFrame(data,columns=['year','state','pop'])

In [ ]:
#if we pass a Column Which is not present in the data then it will show missing values
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],index=['one', 'two', 'three', 'four','five', 'six'])
frame2

In [ ]:
frame2['pop']

In [ ]:
frame2.year

In [ ]:
frame2.loc['three']

In [ ]:
frame2['debt']=16.5
frame2

In [ ]:
import numpy as np
frame2['debt']=np.arange(6.)
frame2

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt']=val
frame2

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio'
frame2

In [ ]:
del frame2['eastern']

In [ ]:
frame2

In [ ]:
frame2.columns

In [ ]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},'Ohio': {2000: 1.5, 2001: 1.7, 2002:3.6}}

In [ ]:
frame3=pd.DataFrame(pop)
frame3

In [ ]:
frame3.T

In [ ]:
import pandas as pd
pd.DataFrame(pop, index=[2001, 2002, 2003])

In [ ]:
pdata=pd.DataFrame({'Nevada':frame3['Nevada'][:2],'Ohio':frame3['Ohio'][:-1]})
pdata

In [ ]:
frame3.index.name='Year';frame3.columns.name='State'
frame3

In [ ]:
frame3.values

In [ ]:
frame2.values

In [ ]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])
index = obj.index
index

In [ ]:
index[1:]

In [ ]:
index[1]='d'

In [ ]:
labels=pd.Index(np.arange(3))
labels

In [ ]:
obj2=pd.Series([1.5,-2.5,0],index=labels)
obj2

In [ ]:
obj2.index is labels

In [ ]:
frame3.columns

In [ ]:
'Ohio' in frame3.columns

In [ ]:
2003 in frame3.index

In [ ]:
dup_labels = pd.Index(['foo', 'foo', 'bar', 'bar'])
dup_labels

In [ ]:
labels.difference(dup_labels)

In [ ]:
labels.intersection(dup_labels)

In [ ]:
labels.isin(dup_labels)

In [ ]:
labels.delete(loc=0)

In [ ]:
labels.drop(0)

In [ ]:
labels.insert(loc=2,item=4)

In [ ]:
print(labels)
labels.is_monotonic

In [ ]:
labels.is_unique

In [ ]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

In [ ]:
obj2=obj.reindex(['a','b','c','d','e'])
obj2

In [ ]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3

In [ ]:
obj3.reindex(range(6),method='ffill')

In [ ]:
obj3.reindex(range(6),method='bfill')

In [ ]:
# Creating the dataframe  
df=pd.DataFrame({"A":[5,3,None,4], 
                 "B":[None,2,4,3], 
                 "C":[4,3,8,5], 
                 "D":[5,4,2,None]}) 
  
# Print the dataframe 
df

In [ ]:
# applying ffill() method to fill the missing values 
df.ffill(axis = 0)

In [ ]:
# applying ffill() method to fill the missing values 
df.ffill(axis = 1)

In [ ]:
df.bfill()

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
index=['a', 'c', 'd'],
columns=['Ohio', 'Texas', 'California'])
frame

In [ ]:
frame2=frame.reindex(['a','b','c', 'd'])
frame2

In [ ]:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

In [ ]:
#Label Indexing
frame.loc[['a','b','c','d'],states]#passing row and column reindex at the same time

In [ ]:
import numpy as np
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj

In [ ]:
new_obj=obj.drop('c')
new_obj

In [ ]:
obj.drop(['c','d'])

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
index=['Ohio', 'Colorado', 'Utah', 'New York'],
        columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data.drop(['Ohio','Colorado'])

In [ ]:
data.drop('one',axis='columns')

In [ ]:
data.drop(['two','four'],axis=1)

In [ ]:
obj.drop('c',inplace=True)
obj

In [ ]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj

In [ ]:
obj['b']

In [ ]:
obj[1]

In [ ]:
obj[2:4]

In [ ]:
obj[['b','a','d']]

In [ ]:
obj[[1,3]]

In [ ]:
obj[obj>2]

In [ ]:
obj['b':'c']

In [ ]:
obj['b':'c']=5
obj

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
index=['Ohio', 'Colorado', 'Utah', 'New York'],
columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data['two']

In [ ]:
data[['three','one']]

In [ ]:
data[:2]

In [ ]:
data[data['three']>5]

In [ ]:
data<5

In [ ]:
data[data<5]=0
data

In [ ]:
data.loc['Utah',['two','four']]

In [ ]:
data.iloc[2,[1,3]]

In [ ]:
data.iloc[2]

In [ ]:
data.iloc[[1, 2], [3, 0, 1]]

In [ ]:
data.loc[:'Utah','two']

In [ ]:
data.iloc[:,:3][data.three>5]

In [ ]:
data.at['Utah','two']#similar like get_value and set_value

In [ ]:
data.iat[2,1]

# Integer Indexes

In [ ]:
ser = pd.Series(np.arange(3.))
ser[-1]

In [ ]:
ser

In [ ]:
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])
ser2[-1]

In [ ]:
ser[:1]

In [ ]:
print(ser)
ser.loc[:1]

In [ ]:
print(ser.iloc[-1])
ser.iloc[:1]

# Arithmetic and Data Alignment

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1],index=['a', 'c', 'e', 'f', 'g'])
print(s1)
s2

In [ ]:
s1+s2

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),
index=['Ohio', 'Texas', 'Colorado'])
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(df1)
df2

In [ ]:
df1+df2

In [ ]:
df1 = pd.DataFrame({'A':[1,2]})
df2 = pd.DataFrame({'B': [3, 4]})
print(df1)
df2

In [ ]:
df1-df2

# Arithmetic methods with the fill values

In [ ]:
import numpy as np
df1=pd.DataFrame(np.arange(12.).reshape((3,4)),columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),columns=list('abcde'))
print(df1)
df2

In [ ]:
df2.loc[1,'b']=np.nan
df2

In [ ]:
df1+df2

In [ ]:
df1.add(df2,fill_value=0)

In [ ]:
df2=pd.DataFrame(np.arange(15.).reshape((3,5)),columns=list('abcde'))
df1.add(df2,fill_value=0)

In [ ]:
other = pd.DataFrame({'angles': [0, 3, 4]},
                     index=['circle', 'triangle', 'rectangle'])
other

In [ ]:
df = pd.DataFrame({'angles': [0, 3, 4],
              'degrees': [360, 180, 360]},
 index=['circle', 'triangle', 'rectangle'])
df

In [ ]:
df.add(other,fill_value=0)

In [ ]:
1/df1

In [ ]:
df1.rdiv(1)

In [ ]:
df1.reindex(columns=df2.columns, fill_value=0)

In [ ]:
arr = np.arange(12.).reshape((3,4))
arr

In [ ]:
arr[0]

In [ ]:
arr-arr[0]

In [ ]:
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
columns=list('bde'),index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

In [ ]:
series = frame.iloc[0]
series

In [ ]:
frame - series

In [ ]:
series2 = pd.Series(range(3), index=['b', 'e', 'f'])
series2

In [ ]:
frame + series2

In [ ]:
series3 = frame['d']
series3

In [ ]:
frame.sub(series3,axis='index')

In [ ]:
import numpy as np
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

In [ ]:
np.abs(frame)

In [ ]:
f = lambda x:x.max()-x.min()
frame.apply(f)

In [ ]:
frame.apply(f,axis='columns')

In [ ]:
def f(x):
    return pd.Series([x.max(),x.min()],index=['MAX','MIN'])

In [ ]:
frame.apply(f)

In [ ]:
format = lambda x:"%.2f" %x
frame.applymap(format)

In [ ]:
frame['e'].map(format)

In [ ]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj

In [ ]:
obj.sort_index()

In [ ]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
index=['three', 'one'],
columns=['d', 'a', 'b', 'c'])
frame

In [ ]:
frame.sort_index()

In [ ]:
frame.sort_index(axis=1)

In [ ]:
frame.sort_index(axis=1,ascending=False)

In [ ]:
obj = pd.Series([4, 7, -3, 2])
obj

In [ ]:
obj.sort_values()

In [ ]:
obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])
obj

In [ ]:
obj.sort_values()

In [ ]:
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame

In [ ]:
frame.sort_values(by='b')

In [ ]:
frame.sort_values(by=['a','b'])

In [ ]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj

In [ ]:
obj.rank()

In [ ]:
obj.rank(method='first')

In [ ]:
obj.rank(ascending=False, method='max')

In [ ]:
frame = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1],
'c': [-2, 5, 8, -2.5]})
frame

In [ ]:
frame.rank(axis='columns')

In [ ]:
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

In [ ]:
obj.index.is_unique

In [ ]:
obj['a']

In [ ]:
obj['c']

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df

In [ ]:
df.loc['b']

In [ ]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],[np.nan, np.nan], [0.75, -1.3]],
index=['a', 'b', 'c', 'd'],
 columns=['one', 'two'])
df

In [ ]:
df.sum()

In [ ]:
df.sum(axis='columns')

In [ ]:
df.sum(axis='columns',skipna=False)

In [ ]:
df.mean(axis='columns',skipna=False)

In [ ]:
df.idxmax()

In [ ]:
df.cumsum()

In [ ]:
df.describe()

In [ ]:
obj = pd.Series(['a', 'a', 'b', 'c'])*4
obj

In [ ]:
obj = pd.Series(['a', 'a', 'b', 'c']*4)
obj

In [ ]:
obj.describe()

In [ ]:
df.pct_change()

In [ ]:
!pip install pandas-datareader

In [ ]:
import pandas_datareader.data as web

In [ ]:
all_data = {ticker:web.get_data_yahoo(ticker) for ticker in ['AAPL','IBM','MSFT','GOOG']}

In [ ]:
price = pd.DataFrame({ticker:data['Adj Close'] for ticker,data in all_data.items()})
price.index.name

In [ ]:
volume =pd.DataFrame({ticker:data['Volume'] for ticker,data in all_data.items()})
volume

In [ ]:
web.get_data_yahoo('AAPL')

In [ ]:
returns = price.pct_change()

In [ ]:
returns.tail()

In [ ]:
returns['MSFT'].corr(returns['IBM'])

In [ ]:
returns['MSFT'].cov(returns['IBM'])

In [ ]:
returns.MSFT.corr(returns.IBM)

In [ ]:
returns.corr()

In [ ]:
returns.cov()

In [ ]:
returns.corrwith(returns.IBM)

In [ ]:
returns.corrwith(volume)

# Unique Values, Value Counts, and Membership

In [ ]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
obj

In [ ]:
uniques = obj.unique()
uniques

In [ ]:
uniques.sort()
uniques

In [ ]:
obj.value_counts()

In [ ]:
pd.value_counts(obj.values,sort=False)

In [ ]:
pd.value_counts(obj.values,sort=True)

In [ ]:
mask = obj.isin(['b','c'])
mask

In [ ]:
obj[mask]

In [ ]:
to_match = pd.Series(['c', 'a', 'b', 'b', 'c', 'a'])
unique_vals = pd.Series(['c', 'b', 'a'])
print(to_match)
unique_vals

In [ ]:
import pandas as pd
import numpy as np
pd.Index(unique_vals).get_indexer(to_match)

In [ ]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
'Qu2': [2, 3, 1, 2, 3],
'Qu3': [1, 5, 2, 4, 4]})
data

In [ ]:
result = data.apply(pd.value_counts).fillna(0)
result

In [1]:
import pandas as pd

In [ ]:
obj=pd.Series([3,12,45,5])
obj

In [ ]:
obj.values

In [ ]:
obj.index

In [ ]:
obj2=pd.Series([1,23,4],index=['a','b','c'])
obj2

In [ ]:
obj2.index

In [ ]:
obj2['a']

In [ ]:
obj2['b']=9
obj2

In [ ]:
obj2[obj2>2]

In [ ]:
obj2*2

In [ ]:
import numpy as np
np.exp(obj2)

In [ ]:
'b' in obj2

In [ ]:
'e' in obj2

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3=pd.Series(sdata)
obj3

In [ ]:
states = ['California', 'Ohio', 'Oregon', 'Texas']
obj4=pd.Series(sdata,index=states)
obj4

In [ ]:
pd.isnull(obj4)#obj4.isnull()

In [ ]:
pd.notnull(obj4)

In [ ]:
obj3+obj4

In [ ]:
obj4.name = 'population'
obj4.index.name = 'state'
obj4

In [ ]:
obj

In [ ]:
obj.index=['bob','steve','jeff','ryan']
obj

In [ ]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002, 2003],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame=pd.DataFrame(data)
frame

In [ ]:
class hello():
    def __init__(this,hi,y):
        this.hi=hi
        this.y=y
        
he=hello("hey",2)
print(he.hi)
print(he.y)

In [ ]:
frame.head()

In [ ]:
pd.DataFrame(data,columns=['year','state','pop'])

In [ ]:
#if we pass a Column Which is not present in the data then it will show missing values
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],index=['one', 'two', 'three', 'four','five', 'six'])
frame2

In [ ]:
frame2['pop']

In [ ]:
frame2.year

In [ ]:
frame2.loc['three']

In [ ]:
frame2['debt']=16.5
frame2

In [ ]:
import numpy as np
frame2['debt']=np.arange(6.)
frame2

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt']=val
frame2

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio'
frame2

In [ ]:
del frame2['eastern']

In [ ]:
frame2

In [ ]:
frame2.columns

In [ ]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},'Ohio': {2000: 1.5, 2001: 1.7, 2002:3.6}}

In [ ]:
frame3=pd.DataFrame(pop)
frame3

In [ ]:
frame3.T

In [ ]:
import pandas as pd
pd.DataFrame(pop, index=[2001, 2002, 2003])

In [ ]:
pdata=pd.DataFrame({'Nevada':frame3['Nevada'][:2],'Ohio':frame3['Ohio'][:-1]})
pdata

In [ ]:
frame3.index.name='Year';frame3.columns.name='State'
frame3

In [ ]:
frame3.values

In [ ]:
frame2.values

In [ ]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])
index = obj.index
index

In [ ]:
index[1:]

In [ ]:
index[1]='d'

In [ ]:
labels=pd.Index(np.arange(3))
labels

In [ ]:
obj2=pd.Series([1.5,-2.5,0],index=labels)
obj2

In [ ]:
obj2.index is labels

In [ ]:
frame3.columns

In [ ]:
'Ohio' in frame3.columns

In [ ]:
2003 in frame3.index

In [ ]:
dup_labels = pd.Index(['foo', 'foo', 'bar', 'bar'])
dup_labels

In [ ]:
labels.difference(dup_labels)

In [ ]:
labels.intersection(dup_labels)

In [ ]:
labels.isin(dup_labels)

In [ ]:
labels.delete(loc=0)

In [ ]:
labels.drop(0)

In [ ]:
labels.insert(loc=2,item=4)

In [ ]:
print(labels)
labels.is_monotonic

In [ ]:
labels.is_unique

In [ ]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

In [ ]:
obj2=obj.reindex(['a','b','c','d','e'])
obj2

In [ ]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3

In [ ]:
obj3.reindex(range(6),method='ffill')

In [ ]:
obj3.reindex(range(6),method='bfill')

In [ ]:
# Creating the dataframe  
df=pd.DataFrame({"A":[5,3,None,4], 
                 "B":[None,2,4,3], 
                 "C":[4,3,8,5], 
                 "D":[5,4,2,None]}) 
  
# Print the dataframe 
df

In [ ]:
# applying ffill() method to fill the missing values 
df.ffill(axis = 0)

In [ ]:
# applying ffill() method to fill the missing values 
df.ffill(axis = 1)

In [ ]:
df.bfill()

In [ ]:
frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
index=['a', 'c', 'd'],
columns=['Ohio', 'Texas', 'California'])
frame

In [ ]:
frame2=frame.reindex(['a','b','c', 'd'])
frame2

In [ ]:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

In [ ]:
#Label Indexing
frame.loc[['a','b','c','d'],states]#passing row and column reindex at the same time

In [ ]:
import numpy as np
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj

In [ ]:
new_obj=obj.drop('c')
new_obj

In [ ]:
obj.drop(['c','d'])

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
index=['Ohio', 'Colorado', 'Utah', 'New York'],
        columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data.drop(['Ohio','Colorado'])

In [ ]:
data.drop('one',axis='columns')

In [ ]:
data.drop(['two','four'],axis=1)

In [ ]:
obj.drop('c',inplace=True)
obj

In [ ]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj

In [ ]:
obj['b']

In [ ]:
obj[1]

In [ ]:
obj[2:4]

In [ ]:
obj[['b','a','d']]

In [ ]:
obj[[1,3]]

In [ ]:
obj[obj>2]

In [ ]:
obj['b':'c']

In [ ]:
obj['b':'c']=5
obj

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
index=['Ohio', 'Colorado', 'Utah', 'New York'],
columns=['one', 'two', 'three', 'four'])
data

In [ ]:
data['two']

In [ ]:
data[['three','one']]

In [ ]:
data[:2]

In [ ]:
data[data['three']>5]

In [ ]:
data<5

In [ ]:
data[data<5]=0
data

In [ ]:
data.loc['Utah',['two','four']]

In [ ]:
data.iloc[2,[1,3]]

In [ ]:
data.iloc[2]

In [ ]:
data.iloc[[1, 2], [3, 0, 1]]

In [ ]:
data.loc[:'Utah','two']

In [ ]:
data.iloc[:,:3][data.three>5]

In [ ]:
data.at['Utah','two']#similar like get_value and set_value

In [ ]:
data.iat[2,1]

# Integer Indexes

In [ ]:
ser = pd.Series(np.arange(3.))
ser[-1]

In [ ]:
ser

In [ ]:
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])
ser2[-1]

In [ ]:
ser[:1]

In [ ]:
print(ser)
ser.loc[:1]

In [ ]:
print(ser.iloc[-1])
ser.iloc[:1]

# Arithmetic and Data Alignment

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1],index=['a', 'c', 'e', 'f', 'g'])
print(s1)
s2

In [ ]:
s1+s2

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape((3, 3)), columns=list('bcd'),
index=['Ohio', 'Texas', 'Colorado'])
df2 = pd.DataFrame(np.arange(12.).reshape((4, 3)), columns=list('bde'),
index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(df1)
df2

In [ ]:
df1+df2

In [ ]:
df1 = pd.DataFrame({'A':[1,2]})
df2 = pd.DataFrame({'B': [3, 4]})
print(df1)
df2

In [ ]:
df1-df2

# Arithmetic methods with the fill values

In [ ]:
import numpy as np
df1=pd.DataFrame(np.arange(12.).reshape((3,4)),columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),columns=list('abcde'))
print(df1)
df2

In [ ]:
df2.loc[1,'b']=np.nan
df2

In [ ]:
df1+df2

In [ ]:
df1.add(df2,fill_value=0)

In [ ]:
df2=pd.DataFrame(np.arange(15.).reshape((3,5)),columns=list('abcde'))
df1.add(df2,fill_value=0)

In [ ]:
other = pd.DataFrame({'angles': [0, 3, 4]},
                     index=['circle', 'triangle', 'rectangle'])
other

In [ ]:
df = pd.DataFrame({'angles': [0, 3, 4],
              'degrees': [360, 180, 360]},
 index=['circle', 'triangle', 'rectangle'])
df

In [ ]:
df.add(other,fill_value=0)

In [ ]:
1/df1

In [ ]:
df1.rdiv(1)

In [ ]:
df1.reindex(columns=df2.columns, fill_value=0)

In [ ]:
arr = np.arange(12.).reshape((3,4))
arr

In [ ]:
arr[0]

In [ ]:
arr-arr[0]

In [ ]:
frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
columns=list('bde'),index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

In [ ]:
series = frame.iloc[0]
series

In [ ]:
frame - series

In [ ]:
series2 = pd.Series(range(3), index=['b', 'e', 'f'])
series2

In [ ]:
frame + series2

In [ ]:
series3 = frame['d']
series3

In [ ]:
frame.sub(series3,axis='index')

In [ ]:
import numpy as np
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

In [ ]:
np.abs(frame)

In [ ]:
f = lambda x:x.max()-x.min()
frame.apply(f)

In [ ]:
frame.apply(f,axis='columns')

In [ ]:
def f(x):
    return pd.Series([x.max(),x.min()],index=['MAX','MIN'])

In [ ]:
frame.apply(f)

In [ ]:
format = lambda x:"%.2f" %x
frame.applymap(format)

In [ ]:
frame['e'].map(format)

In [ ]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj

In [ ]:
obj.sort_index()

In [ ]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
index=['three', 'one'],
columns=['d', 'a', 'b', 'c'])
frame

In [ ]:
frame.sort_index()

In [ ]:
frame.sort_index(axis=1)

In [ ]:
frame.sort_index(axis=1,ascending=False)

In [ ]:
obj = pd.Series([4, 7, -3, 2])
obj

In [ ]:
obj.sort_values()

In [ ]:
obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])
obj

In [ ]:
obj.sort_values()

In [ ]:
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame

In [ ]:
frame.sort_values(by='b')

In [ ]:
frame.sort_values(by=['a','b'])

In [ ]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj

In [ ]:
obj.rank()

In [ ]:
obj.rank(method='first')

In [ ]:
obj.rank(ascending=False, method='max')

In [ ]:
frame = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1],
'c': [-2, 5, 8, -2.5]})
frame

In [ ]:
frame.rank(axis='columns')

In [ ]:
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

In [ ]:
obj.index.is_unique

In [ ]:
obj['a']

In [ ]:
obj['c']

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df

In [ ]:
df.loc['b']

In [ ]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],[np.nan, np.nan], [0.75, -1.3]],
index=['a', 'b', 'c', 'd'],
 columns=['one', 'two'])
df

In [ ]:
df.sum()

In [ ]:
df.sum(axis='columns')

In [ ]:
df.sum(axis='columns',skipna=False)

In [ ]:
df.mean(axis='columns',skipna=False)

In [ ]:
df.idxmax()

In [ ]:
df.cumsum()

In [ ]:
df.describe()

In [ ]:
obj = pd.Series(['a', 'a', 'b', 'c'])*4
obj

In [ ]:
obj = pd.Series(['a', 'a', 'b', 'c']*4)
obj

In [ ]:
obj.describe()

In [ ]:
df.pct_change()

In [ ]:
!pip install pandas-datareader

In [ ]:
import pandas_datareader.data as web

In [ ]:
all_data = {ticker:web.get_data_yahoo(ticker) for ticker in ['AAPL','IBM','MSFT','GOOG']}

In [ ]:
price = pd.DataFrame({ticker:data['Adj Close'] for ticker,data in all_data.items()})
price.index.name

In [ ]:
volume =pd.DataFrame({ticker:data['Volume'] for ticker,data in all_data.items()})
volume

In [ ]:
web.get_data_yahoo('AAPL')

In [ ]:
returns = price.pct_change()

In [ ]:
returns.tail()

In [ ]:
returns['MSFT'].corr(returns['IBM'])

In [ ]:
returns['MSFT'].cov(returns['IBM'])

In [ ]:
returns.MSFT.corr(returns.IBM)

In [ ]:
returns.corr()

In [ ]:
returns.cov()

In [ ]:
returns.corrwith(returns.IBM)

In [ ]:
returns.corrwith(volume)

# Unique Values, Value Counts, and Membership

In [ ]:
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
obj

In [ ]:
uniques = obj.unique()
uniques

In [ ]:
uniques.sort()
uniques

In [ ]:
obj.value_counts()

In [ ]:
pd.value_counts(obj.values,sort=False)

In [ ]:
pd.value_counts(obj.values,sort=True)

In [ ]:
mask = obj.isin(['b','c'])
mask

In [ ]:
obj[mask]

In [ ]:
to_match = pd.Series(['c', 'a', 'b', 'b', 'c', 'a'])
unique_vals = pd.Series(['c', 'b', 'a'])
print(to_match)
unique_vals

In [ ]:
import pandas as pd
import numpy as np
pd.Index(unique_vals).get_indexer(to_match)

In [ ]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
'Qu2': [2, 3, 1, 2, 3],
'Qu3': [1, 5, 2, 4, 4]})
data

In [ ]:
result = data.apply(pd.value_counts).fillna(0)
result